html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

#viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
}

.image {
  position: absolute;
  width: 100px;
  pointer-events: auto;
  touch-action: none;
  user-select: none;
  cursor: pointer;
  transition:
    opacity 0.4s ease,
    width 0.5s ease,
    transform 0.6s ease;
}

#logo-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3000;
}

#logo-container img {
  width: 80px;
}

#project-descriptions {
  background: rgba(0,0,0,0.6);
  padding: 1.5em;
  border-radius: 10px;
}

.image.active {
  transition: none !important;
  cursor: grab;
}

#project-descriptions {
  background: rgba(15,15,15,0.9);
  border: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  cursor: grab;
  font-size; 10px;
}



